<section class="success-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="success-card">
          <!-- Success Icon -->
          <!-- <div class="success-icon"> -->
          <!-- <div class="info-circle">
              <div class="info"></div>
            </div>
          </div> -->
          
          <!-- Success Message -->
          <div class="success-content">
            <h2 class="success-title">Payment Processing...</h2>
            <p class="success-message">
              Please wait while we verify your transaction.
              You will be redirected to the order details page shortly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
