<div class="price-range-filter custom-padding">
  <div class="price-range-inputs">
    <div class="price-input-group">
      <label>{{ 'min' | translate }}</label>
      <input 
        type="number" 
        class="form-control price-input" 
        [min]="minPrice" 
        [max]="maxPrice"
        [(ngModel)]="selectedMinPrice"
        (change)="onMinInputChange($event)"
        (blur)="onMinInputChange($event)">
    </div>
    <div class="price-input-group">
      <label>{{ 'max' | translate }}</label>
      <input 
        type="number" 
        class="form-control price-input" 
        [min]="minPrice" 
        [max]="maxPrice"
        [(ngModel)]="selectedMaxPrice"
        (change)="onMaxInputChange($event)"
        (blur)="onMaxInputChange($event)">
    </div>
  </div>
  
  <div class="price-range-slider">
    <div class="slider-container">
      <div class="slider-track">
        <div class="slider-active-range" 
             [style.left]="getMinPercentage() + '%'"
             [style.width]="(getMaxPercentage() - getMinPercentage()) + '%'">
        </div>
      </div>
      <input 
        type="range" 
        class="form-range range-slider range-slider-min" 
        [min]="minPrice" 
        [max]="maxPrice"
        [value]="selectedMinPrice"
        (input)="onMinPriceChange($event)">
      <input 
        type="range" 
        class="form-range range-slider range-slider-max" 
        [min]="minPrice" 
        [max]="maxPrice"
        [value]="selectedMaxPrice"
        (input)="onMaxPriceChange($event)">
    </div>
    <div class="price-display">
      <span class="price-value">{{ selectedMinPrice | currencySymbol }}</span>
      <span class="price-separator">-</span>
      <span class="price-value">{{ selectedMaxPrice | currencySymbol }}</span>
    </div>
  </div>
  
  <div class="price-range-actions" *ngIf="selectedMinPrice !== minPrice || selectedMaxPrice !== maxPrice">
    <button type="button" class="btn btn-sm btn-link reset-filter" (click)="resetFilter()">
      {{ 'reset' | translate }}
    </button>
  </div>
</div>
